.sign-header
  = render "sign_header"
.signup__contents
  .signup__contents__main
    .message
      %h3 登録が完了しました。
    .root-btn
      = link_to "トップに戻る",root_path
.sign-footer
  = render "sign_footer"