.new__header {
  background-color: #f8f8f8;
  height: 150px;
}

.new__icon {
  text-align: center;
  line-height: 150px;
}

.required {
  background-color: red;
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  padding: 3px;
}

.optional {
  background-color: gray;
  color: #fff;
  font-size: 12px;
  margin-left: 8px;
  padding: 3px;
}

.icon-image {
  background-color: #f8f8f8;
  height: 33px;
  width: 150px;
}

.main-new {
  width: 100%;
  background-color: #f8f8f8;
}

.item-image {
  padding-bottom: 16px;
}

.atend {
  padding-bottom: 5px;
}

.product-content {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  &__image {
    padding: 40px;
    border-bottom: 1px solid #f8f8f8;
  }
  &__info {
    padding: 40px;
    border-bottom: 1px solid #f8f8f8;
  }
  &__detail {
    padding: 40px;
    border-bottom: 1px solid #f8f8f8;
  }
  &__send {
    padding: 40px;
    border-bottom: 1px solid #f8f8f8;
  }
  &__price {
    padding: 40px;
    margin-bottom: 40px;
  }
}

.name-form {
  height: 48px;
}

.info-describe {
  height: 220px;
  width: 620px;
  margin-top: 32px;
}

.form-text {
  border: 1px solid #ccc;
  height: 46px;
  width: 620px;
  border-radius: 4px;
  padding: 0 16px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.form-area {
  border: 1px solid #ccc;
  height: 125px;
  width: 620px;
  margin-top: 16px;
  padding: 13px 16px;
}

.state-select {
  height: 46px;
}

.category-select {
  display: none;
}

.price {
  display: flex;
}

.send-btn {
  width: 360px;
  margin: 0 auto;
  &__form {
    color: white;
    background-color: red;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    padding: 0 24px;
  }
  &__back {
    text-align: center;
    display: block;
    width: 100%;
    height: 20px;
    color: blue;
    margin-top: 30px;
  }
}

.image-form {
  height: 200px;
  width: 200px;
  position: relative;
}

.image-icon {
  height: 24px;
  width: 24px;
}

.input {
  display: block;
  width: 620px;
  height: 180px;
}

.image-file{
  display: none;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price-form{
  display: flex;
}

.price-number {
  text-align: right;
  height: 40px;
}

.attention {
  margin: 40px 40px 0px;
  font-size: 12px;
  padding-bottom: 20px;
}

.image_box{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}

//画像表示欄のCSS

.preview{
  width: 100px;
  height: 125px;
}

.lower-box {
  display: flex;
  text-align: center;
  .delete-box {
    color: #00b0ff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    background: #f5f5f5;
    cursor: pointer;
  }
}


//投稿クリックエリアのCSS
.label-content{
  margin-bottom: 10px;
  width: 620px;
  .label-box{
    display: block;
      border: 1px solid #ccc;
      position: relative;
      background: #d3d3d3;
      width: 100%;
      height: 162px;
      cursor: pointer;
  }
}

.prev-content{
  display: flex;
  .preview_box {
    height: 162px;
    width: 112px;
    margin: 0 15px 10px 0;
    .upper-box {
      height: 120px;
      width: 100%;
    }
  }
}


input{
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 48px;
  margin: 0;
  padding: 0 16px;
}

#previews{
  display: flex;
  flex-wrap: wrap;
}

li.input{
  width: 100%;
  height: 160px;
  background-color: #ccc;
  border: 1px solid silver;
  position: relative;
  .upload-label{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    .input-area{
      display: none;
    }
  }
}

