* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
// ヘッダーscss
.header {
  padding: 0 60px;

  &__inner {
    width: 100%;
    padding: 15px 0 0;
    max-width: 1040px;
    min-height: 82px;
    margin: 0 auto;

    .main__header {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 30px;
        padding-bottom: 10px;

        .furima__image {
          width: 140px;
          height: 40.55px;
        }
      }
      .search__box {
        height: 41px;
        width: 100%;
        margin-left: auto;

        &__input {
          width: calc(100% - 36px);
          height: 36px;
          padding: 0 0 0 5px;
        }

        &__btn {
          width: 30px;
          height: 36px;
          border: 0;
          padding: 8px;
          background-color: #3ccace;

          .img {
            width: 100%;
            height: 20px;
            vertical-align: bottom;
          }
        }
      }
    }
    .nav {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 32px;

      &__left {
        display: flex;

        .cat__btn {
          padding-right: 30px;
        }
        .cat__btn a:hover {
          color: #ffc042;
        }

        .tree__display__none {
          z-index: 2;
          position: absolute;
          background-color: #fff;
          width: 240px;
          top: 40px;
          display: flex;
          display: none;

          ul {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            position: relative;

            li {
              position: relative;
              display: block;
              width: 240px;
              padding: 3px 8px 3px 5px;
              border-bottom: 1px solid #f8f8f8;
            }
          }
        }
        .brand__btn {
          margin-left: 20px;
        }
        .brand__btn a:hover {
          color: #ffc042;
        }
      }
      &__right {
        display: flex;

        .login__btn {
          padding-left: 16px;
        }
        .registration__btn {
          padding-left: 16px;
        }
      }
    }
  }
}
// メインビジュアルscss
.main__visual {
  width: 100%;
  height: 560px;
  background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-position: top center;
  padding: 0 60px;
  display: flex;
  align-items: center;
  position: relative;

  &__content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;

    .visual__content__title {
      margin-top: 60px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 60px;
      color: #fff;
      line-height: 1.2;
    }
    .visual__content__text {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    .visual__content__btn {
      display: flex;
      margin: 24px 0 0 0;

      .content__btn__img {
        width: 180px;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }
  }
}
// イントロダクションscss
.top__introduction {
  padding: 60px 20px;

  &__title {
    font-size: 26px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  &__title::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .introduction__box {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;

    .introduction__list {
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      align-items: center;
      flex-direction: column;

      .introduction__list__pict {
        margin-bottom: 20px;
        position: relative;
        .introduction__list__number {
          position: absolute;
          background-color: #3ccace;
          font-size: 30px;
          color: #fff;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          border-radius: 4%;
        }
        .introduction__list__img {
          width: 100%;
        }
      }
      .introduction__list__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span {
          color: #3ccace;
        }
      }
      .introduction__list__description {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }
}
// ミドルダウンロードscss
.middle__dl {
  background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: bottom right;

  &__inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;

    .dl__inner__title {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    .dl__inner__text {
      font-size: 18px;
      margin: 20px 0 30px;
    }
    .dl__inner__btn {
      display: flex;

      .dl__btn__link {
        width: 180px;
        margin-right: 10px;
      }
    }
  }
}
// キーフィーチャーズscss
.key__features {
  padding: 60px 100px;

  &__head {
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  &__head::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__items {
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .key__features__item {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;

      .item__img {
        width: 70%;
        margin: 0 auto;
        line-height: 120px;
      }
      .item__subtitle {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      .item__detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}
// ピックアップカテゴリー、ピックアップブランドscss
.pickup__container {
  padding: 80px 0 0;
  height: 100%;
  background-color: #f8f8f8;

  &__head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box {
    margin: 0;
    padding: 0;

    .container__box__head {
      font-weight: bold;
      font-size: 24px;
      color: #3ccace;
      text-align: center;
    }
    .container__box__lists {
      width: 100%;
      margin: 26px auto;
      display: flex;
      overflow: scroll;

      .container__box__list {
        width: 220px;

        .list__image {
          width: 220px;
          height: 150px;
          object-fit: cover;
        }
        .items-box_photo__sold {
          width: 0;
          height: 0;
          border-top: 35px solid #ea352d;
          border-right: 35px solid transparent;
          border-bottom: 35px solid transparent;
          border-left: 35px solid #ea352d;
          position: relative;
          top: -154px;
          left: 0px;

          &__inner {
            transform: rotate(-45deg);
            font-size: 15px;
            margin: -25px -25px 0px -45px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 400;
          }
        }
        .list__body {
          background-color: white;
          color: #333;
          padding: 16px;
          z-index: 100;
          position: relative;
          top: -70px;
          left: 0px;

          &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
          }
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }

        .list__main {
          background-color: white;
          padding: 16px;
          color: #333;

          &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
          }
          ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          p {
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
// フッターscss
.banner {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  height: 360px;
  padding: 100px 40px;
  background-size: cover;
  background-position: center;

  &__box {
    color: #fff;
    text-align: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__icon {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;

      .link__icon__btn {
        width: 180px;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }
  }
}

.footer {
  background-color: #272727;
  padding: 60px 0;
  color: #ffffff;
  list-style: none;
  text-align: center;

  .main__footer {
    display: flex;
    margin: auto;
    max-width: 840px;

    .content__box {
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      .content__head {
        margin: 0 0 20px;
        font-weight: bold;
      }
      .content__sub {
        font-size: 12px;
        line-height: 32px;
      }
      .content__sub a:hover {
        text-decoration: underline;
      }
    }
  }
  .footer__img {
    height: 46px;
    width: 160px;
  }
  .footer_end {
    font-size: 14px;
  }
}
.purchase__btn {
  width: 120px;
  height: 116px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__img {
    width: 60%;
    vertical-align: bottom;
  }
}
