// 商品購入確認ページ
.confirm__header {
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;

  &__icon {
    height: 33px;
    width: 120px;
  }
}
.confirm__contents {
  background-color: #f8f8f8;
  &__section {
    background-color: #fff;
    width: 600px;
    margin: 0px auto;
    padding: 24px 16px;
    border-top: 1px solid #f8f8f8;;

    &__title {
      width: 100%;
      margin: 0 auto;
      display: block;
      font-size: 30px;
      font-weight: 700;
    }
  }
  .confirm__contents__section {
    &__inner {
      display: flex;
      justify-content: space-between;

      img{
        max-width: 50%;
      }

      .items-box_photo__sold {
        width: 0;
        height: 0;
        border-top: 60px solid #ea352d;
        border-right: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #ea352d;
        z-index: 100;
        position: relative;
        left: -285px;
        &__inner {
          transform: rotate(-45deg);
          font-size: 28px;
          margin: -35px 0px 0px -55px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 400;
        }
      }
      .confirm__section__right {
        width: 100%;
        margin-left: 10px;

        .confirm__item__name {
          font-size: 20px;
          margin-bottom: 8px;
          text-align: center;
        }
        .confirm__item__price {
          text-align: center;

          .tax {
            font-size: 20px;
          }
          .price2 {
            list-style: none;
            font-size: 20px;
            margin-left: 8px;
            font-weight: 600;
          }
        }
      }
    }
    &__pay {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      .price {
        font-size: 24px;
      }
    }
    .confirm__payment__text {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 600;
    }
    .confirm__payment__request {
      color: rgb(0, 149, 238);
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .buy__btn {
      &__request {
        color: rgb(255, 2, 17);
        line-height: 1.5;
        margin-bottom: 24px;
        font-size: 14px;
      }
      button {
        font-size: 17px;
        font-weight: bold;
        min-height: 48px;
        padding: 0 24px;
        width: 100%;
        background-color: #ff0211;
        color: #ffffff;
      }
    }
  }
}
.btn__red {
  display: block;
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 50%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: 100px auto;
}
h2 {
  margin: 100px;
  text-align: center;
}
.confirm__footer {
  margin-top: auto;
  text-align: center;
  padding: 40px 0px 11px;
  background-color: #272727;
  color: #ffffff;

  &__texts {
    display: inline-block;
    margin: -16px 0px 40px -16px;
    display: flex;
    justify-content: center;

    .confirm__footer__text {
      font-size: 12px;
      margin-left: 10px;
    }
    .confirm__footer__text a:hover {
      text-decoration: underline;
    }
  }
  &__image {
    height: 35px;
    margin-bottom: 8px;
    width: 100px;
  }
  &__end {
    font-size: 12px;
  }
}