.chapter {
  background-color: whitesmoke;
  width: 100%;

  &__inner {
    border-top: 1px solid #f5f5f5;
    padding: 100px 40px;
    background-color: white;
    margin-left: 50px;

    &__content {
      max-width: 320px;
      margin: 0 auto;

      .btn__red {
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}
