* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

// ナビゲーション
.main_nav {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background-color: #ffffff;
  border-top: solid 1px #eee;
  padding: 0px 60px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  line-height: 50px;
  border-bottom: groove;
  display: flex;
  justify-content: start;
  align-items: center;

  &__list {
    padding: 10px;

    a:hover {
      color: #3ccace;
    }
  }
}

// メインページscss
.main {
  background-color: #f8f8f8;

  .showmain {
    width: 100%;
    padding: 40px;
    text-align: center;

    .product {
      width: 700px;
      margin: 0px auto;
      display: flex;
      text-align: center;

      &__top {
        width: 700px;

        // 商品詳細説明、商品写真、コメント
        .product_box {
          width: 700px;
          padding: 24px 40px 40px;
          background-color: #ffffff;

          &__name {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 30px;
            font-weight: 700;
          }

          // indexページでの商品画像表示
          &__images {
            margin-top: 20px;

            .list__image { 
              max-width: 90%;
              height: auto;
            }

            .product_box__small_lists {
              display: flex;
              justify-content: center;

              &__list {
                width: 150px;
                height: 100px;
              }
            }
          }

          // showページでの商品画像表示
          &__show_images {
            margin-top: 20px;

            .image-list{
              width: 24%;
              height: 130px;
            }
            .image-list:first-child{
              width: 100%;
              height: 400px;
            }
          }

          .product_price {
            font-size: 50px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            text-align: center;
            list-style: none;
          }

          .product_price__detail {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
          }

          &__Detail {
            width: 620px;
            font-size: 30px;
          }

          // 商品の出品者〜発送の目安表
          .product_table {
            border: 1px #cccccc;
            margin-bottom: 20px;

            tr {
              height: 20px;

              th {
                width: 152px;
                text-align: center;
                border: 1px #cccccc solid;
                background-color: #eeeeee;
              }

              td {
                width: 467px;
                text-align: start;
                line-height: 20px;
                border: 1px #cccccc solid;
                padding: 15px;
              }

              a {
                color: #3ccace;
              }
            }
          }

          // お気に入り、不適切な商品の通報
          .optionArea {
            height: 40px;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            line-height: 40px;

            &__left {
              border: 1px solid #ffcc33;
              border-radius: 20px;
              width: 130px;
              color: #3ccace;
              cursor: pointer;
            }

            &__right {
              border: 1px black solid;
              border-radius: 5px;
              width: 160px;
              cursor: pointer;
            }
          }
        }

        // 購入・編集・削除ボタンcss
        .btn-list {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: space-around;
          text-align: center;

          .edit_btn {
            background-color: #3ccace;
            width: 40%;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
            border: 1px #3ccace solid;
            border-radius: 100px;
            font-size: 20px;
            margin-top: 10px;
          }

          .destroy_btn {
            background-color: red;
            width: 40%;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
            border: 1px #3ccace solid;
            border-radius: 100px;
            font-size: 20px;
            margin-top: 10px;
          }

          .confirm-link {
            background-color: red;
            width: 60%;
            height: 50px;
            line-height: 50px;
            color: #ffffff;
            border: 1px #3ccace solid;
            font-size: 20px;
            margin-top: 10px;
            border-radius: 100px;
          }

          a {
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        // コメント入力欄
        .commentBox {
          width: 100%;
          height: 300px;
          background-color: #ffffff;
          padding: 24px;
          margin: 10px 0px;

          .new_comment {
            width: 100%;
            height: 110px;
            padding: 5px;
          }

          p {
            background-color: #f8f8f8;
            text-align: start;
            font-size: 14px;
            margin: 10px 0px;
            padding: 8px;
          }

          .comment_btn {
            background-color: #3ccace;
            width: 60%;
            height: 50px;
            color: #ffffff;
            border: 1px #3ccace solid;
            border-radius: 100px;
            font-size: 20px;
            margin-top: 10px;
            cursor: pointer;
          }
        }
      }
    }

    // 関連カテゴリーへのリンク
    .links {
      display: block;
      width: 700px;
      height: 50px;
      color: #3ccace;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      list-style: none;
    }

    .relatedItems {
      width: 700px;
      height: 50px;
      font-size: 20px;
      margin: 0 auto;
      color: #3ccace;
      text-align: start;

      .related-link{
        display: block;
      }
    }

    // index,showページ下部の商品一覧css
    .relatedlist{
      width: 700px;
      height: 300px;
      font-size: 20px;
      margin: 0 auto;
      color: #3ccace;
      text-align: start;


      .related_images {
        width: 220px;
        padding-top: 10px;
        color: black;
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
        display: flex;

        .container__box__list {

          .list__image {
            height: 150px;
            width: 200px;
            max-width: 100%;
            max-height: auto;
          }

          .list__main {
            padding: 0px 20px;
            text-align: start;
            background-color: #fff;

            ul {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}

// フッターscss
.banner {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  height: 360px;
  padding: 100px 40px;
  background-size: cover;
  background-position: center;

  &__box {
    color: #fff;
    text-align: center;

    &__title {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    &__icon {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;

      .link__icon__btn {
        width: 180px;
        margin-right: 10px;
        vertical-align: bottom;
      }
    }
  }
}

.footer {
  background-color: #272727;
  padding: 60px 0;
  color: #ffffff;
  list-style: none;
  text-align: center;

  .main__footer {
    display: flex;
    margin: auto;
    max-width: 840px;

    .content__box {
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      .content__head {
        margin: 0 0 20px;
        font-weight: bold;
      }
      .content__sub {
        font-size: 12px;
        line-height: 32px;
        cursor: pointer;
      }
    }
  }
  .footer__img {
    height: 46px;
    width: 160px;
    cursor: pointer;
  }
  .footer_end {
    font-size: 14px;
  }
}
.purchase__btn {
  width: 120px;
  height: 116px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  cursor: pointer;

  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__img {
    width: 60%;
    vertical-align: bottom;
  }
}

// 削除後のページ
.destroy__contents{
  background-color: #f8f8f8;

  &__main{
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px 40px;
    background-color: #ffffff;
    text-align: center;

    .message{
      font-size: 20px;
      height: 50px;
    }

    .root-btn{
      background-color: #3ccace;
      width: 40%;
      height: 50px;
      line-height: 50px;
      color: #ffffff;
      border: 1px #3ccace solid;
      border-radius: 100px;
      font-size: 20px;
      margin: 10px auto;
    }

    a{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}