.main_nav
  ナビゲーション
.main
  .main__show
    .main__products
      .products__box
        .products__name
          商品名
        .products__body
        .products__price
      .products__comment
    .main__links
    .main__item_turn